body{
    background-color: rgba(198, 198, 198, 0.23);
    font-family: Tahoma, Arial;
}
header, footer{
    color: white;
}
header{
    min-height: 75px;
    background-color: rgba(67, 81, 115);
}
.header-block{
    padding-top: 20px;
}
nav li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;

}
nav a{
    color: white;
    transition: color 0.2s ease-in;
}
nav a:hover{
    color: #a0ce46;
}
main{
    min-height: 350px;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 5px #7c7c7c;
    padding: 15px;
}
footer{
    min-height: 150px;
    background-color: #2b2f35;
}
.remont{
    font-size: 24px;
    font-weight: bold;
}
.address{
    font-weight: bold;
}